/**
 * Copyright (C) J Leadbetter <j@jleadbetter.com>
 * Affero GPL v3
 **/

Container {
    align: center middle;
    overflow-x: scroll;
    overflow-y: scroll;
    scrollbar-background: $surface;
}

/* Login */

#login {
    width: 40;
}

#login-button {
    margin-top: 1;
    margin-bottom: 2;
}
