# Configurations for the project

[ports]
#AuthnPort = common.adapters.auth.AuthnJSONFileAdapter
DatabasePort = common.adapters.database.DatabaseJSONFileAdapter
#SessionPort = common.adapters.dev.session.SessionJSONFileAdapter
UserPort = common.adapters.users.UserJSONFileAdapter
WordPort = common.adapters.words.WordJSONFileAdapter

[adapters.common]
databaseFile = database

[setup]
CreateDefaultUsers = yes

###############################################################################
# Adapter-specific settings go here.                                          #
#                                                                             #
# Example config:                                                             #
#                                                                             #
#     [adapters.AuthnPort]                                                    #
#     KeycloakUrl = https://example.com/keycloak                              #
#                                                                             #
###############################################################################
