###############################################################################
#                                                                             #
# Copyright (C) J Leadbetter <j@jleadbetter.com>                              #
# Affero GPL V3                                                               #
#                                                                             #
# Configuration for all modules of the project                                #
#                                                                             #
###############################################################################

[config.meta]
Name = default
DefaultConfig = dev.django

###############################################################################
#                                                                             #
# Configuration for Django ORM backend                                        #
#                                                                             #
###############################################################################

[dev.django]

[dev.django.common]
UploadDir = data/uploads

[dev.django.ports]
UserDBPort = common.adapters.users.UserDBDjangoORMAdapter
UserUIPort = common.adapters.users.UserUIDjangoORMAdapter

[dev.django.adapters.common]
DatabaseFile = database
DataDir = data

[dev.django.setup]
CreateDefaultWords = yes
CreateDefaultUsers = yes

# Adapter-specific settings go here
# Example:
#
#   [dev.django.adapters.AuthnPort]
#   SingleUserSystem = yes
