###############################################################################
#                                                                             #
# Copyright (C) J Leadbetter <j@jleadbetter.com>                              #
# Affero GPL V3                                                               #
#                                                                             #
# Configuration for all modules of the project                                #
#                                                                             #
###############################################################################

[config.meta]
Name = default
DefaultConfig = dev.django

###############################################################################
#                                                                             #
# Configuration for Django ORM backend                                        #
#                                                                             #
###############################################################################

[dev.django]
InitializeScript = common.utils.initialization.init_django

[dev.django.common]
UploadDir = data/uploads

[dev.django.ports]
AppSettingsPort = common.adapters.app.AppSettingsDjangoORMAdapter
AuthnPort = common.adapters.auth.AuthnDjangoORMAdapter
UserDBPort = common.adapters.users.UserDBDjangoORMAdapter
UserUIPort = common.adapters.users.UserUIDjangoORMAdapter

# Any settings that all adapters should share
[dev.django.adapters.common]

# Adapter-specific settings go here
# Example:
#
#   [dev.django.adapters.FooPort]
#   UseFoo = yes
