/**
 * Copyright (C) J Leadbetter <j@jleadbetter.com>
 * Affero GPL v3
 **/

/* 10,000 Words title */

#main-title{
    height: 24;
    width: 100%;
}

/* Title */

#title-wrapper {
    width: 40;
    overflow-x: hidden;
    overflow-y: hidden;
}

#title-text-wrapper {}

.title-text {
    height: 9;
    color: $secondary;
    text-style: bold;
}

/* Subtitle */

#subtitle-text-wrapper {
    margin: 2 0;
}

.subtitle-text {
    color: $accent;
    height: auto;
    text-align: center;
}
